@import '../lib/stylus-px2rem.styl'

.border{
  border-right:12px;
  border:12px;
  border-top:12px;
  border-right:12px;
  border-bottom:12px;
  border-left:12px;
  border-radius:12px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}